body 
	font-family: $font-base
	background: $color-fondo
	padding-top: 70px

.full-screen 
	padding: 8rem 0

.small-text 
	color: $color-principal
	font-size: 14px
	font-weight: bold
	padding: 8px 16px
	border-radius: 50px
	letter-spacing: 0.2px

