// VARIABLES
$color-fondo: #070e27;
$color-principal: #0059f7;
$color-secundario:#474559;
$color-texto: #fff;
$font-base: 'Poppins', sans-serif;
$tamaño-fuente: 5rem;
$h2-fuente: 1.9rem;
$p-fuente: 1rem;
$color1: #141e40